@charset "UTF-8";@media print, projection, embossed {
	body {
		padding-top:1.000000in;
		padding-bottom:1.000000in;
		padding-left:1.250000in;
		padding-right:1.250000in;
	}
}
body {
	font-family:'Times New Roman';
	color:#000000;
	widows:2;
	font-style:normal;
	text-indent:0in;
	font-variant:normal;
	font-size:12pt;
	text-decoration:none;
	font-weight:normal;
	text-align:left;
}
table {
}
td {
	border-collapse:collapse;
	text-align:left;
	vertical-align:top;
}
